.imgCardProject{
    height: 30vh;
}

.btnGoGit{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.cardProject {
  box-shadow: #f9004f36 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
}

.cardProject:hover {
  transform: scale(1.05);
  box-shadow: #f9004f66 0px 20px 40px, rgba(0, 0, 0, 0.3) 0px 17px 14px;
}